.header-top {
    
    background-color: white;
    height: 70px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 0;
    margin-bottom: -25px;
    z-index: 1000;
}

.brand-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    left: -24px;
}

.bg-layer {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    z-index: 1;
    object-fit: cover;
}

.content-layer {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

.logo-main {
    max-width: 158px;
    height: 88px;
    width: auto;
}

.logo-text {
    position: relative;
    color: white;
    font-family: 'Nunito', sans-serif;
    top: 10px;
    left: -35px;
    font-size: 16px;
    line-height: 1.2;
}

.nav-buttons {
    position: absolute;
    right: 30px;
}

.btn-login {
    color: var(--mmed-blue);
    font-weight: 700;
    text-decoration: none;
    margin-right: 20px;
    white-space: nowrap;
}

.btn-signup {
    background-color: var(--mmed-blue);
    color: white;
    padding: 8px 24px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    transition: all 0.3s;
    white-space: nowrap;
}

.btn-login:hover {
    color: #0b2f6b;
    text-decoration: underline;
}

.btn-signup:hover {
    background-color: #0b2f6b;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(16, 57, 130, 0.3);
}


.hamburger-menu {
    cursor: pointer;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 20px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--mmed-blue);
    transition: 0.4s;
    border-radius: 2px;
}

.bar.change:nth-child(1) {
    transform: translate(0, 8px) rotate(-45deg);
}

.bar.change:nth-child(2) {
    opacity: 0;
}

.bar.change:nth-child(3) {
    transform: translate(0, -8px) rotate(45deg);
}

.mobile-nav-overlay {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: white;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    z-index: 999;
}

.mobile-nav-overlay.open {
    height: 150px;
    border-top: 1px solid #eee;
}

.mobile-nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 15px;
}

.btn-login-mobile {
    color: var(--mmed-blue);
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}

.btn-signup-mobile {
    background-color: var(--mmed-blue);
    color: white;
    padding: 10px 30px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    width: 80%;
    max-width: 300px;
}


@media (max-width: 991px) {
    .bg-layer {
       display: none;
    }
    .header-top {
        padding: 50px;
        background-color: rgb(0, 179, 255);
    }

  .logo-text {
    display: none;
  }
}
