@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nunito:wght@400;600;700&display=swap');

:root {
  --mmed-blue: #103982;
  --mmed-cyan: #00BAF2;
  --mmed-bg: #D9F5F9;
}

body {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
  width: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
  background-color: var(--mmed-bg);
  
}

h1 {
  font-family: 'Merriweather', serif;
  color: var(--mmed-blue);
  font-size: 48px;
}

.App {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.description-text {
  color: #555;
  font-size: 20px;
}

.phone-img-shadow {
  max-width: 290px;
  height: 601px;
}
@media (max-width: 991px) {

  .phone-img-shadow {
    height: auto;
    max-width: 40%;
    margin-bottom: 10px;
  }
  .main-container {
    text-align: center;
  }
}